<!DOCTYPE html>
<html>
<head>
    <title>Note 7: Using the Underscore.js template engine</title>
    <script type="text/javascript" src="../jquery-1.9.0.js"></script>
    <script type="text/javascript" src="../knockout-min.js"></script>
    <script type="text/javascript" src="../underscore-min.js"></script>
    <script type="text/javascript">
        var viewModel = {
            people: ko.observableArray([
                {name: 'Sailor', age: 123},
                {name: 'Jarrick', age: 456}
            ])
        };

        // ... then later ...
        $(function () {
            ko.applyBindings(viewModel);
        });
    </script>
</head>
<body>
<h1>People</h1>

<div data-bind="template:'peopleList'"></div>
<script type="text/html" id="peopleList">
    <% _.each(people(),function(people){ %>
        <li>
            <b><%= person.name %></b> is <%= people.age %> years old.
        </li>
    <% }) %>
</script>
</body>
</html>